.month-grid-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100px;
    background-color: var(--sx-color-primary-container);
    padding: 5px;
}

.empty-shifts {
    background-color: var(--error-color) !important;
}